@using Folly.Constants;
@using Folly.Controllers;
@using Folly.Resources;
@using Folly.Utils;

@{
    ViewData[ViewProperties.Title] = Folly.Resources.Core.Dashboard;

    if (ViewContext.HttpContext.Request.Headers.Any(x => x.Key.ToLowerInvariant() == PJax.Request))
    {
        // create a title header for pjax to use since we don't have breadcrumbs on this page
        ViewContext.HttpContext.Response.Headers.Add(PJax.Title, Core.Dashboard);
    }
}

<div id="content" class="dashboard">
</div>
