@font-face {
    font-family: 'folly';
    src: url('../font/folly.woff2?61674747');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'folly';
    src: url('../font/folly.svg?61674747#folly') format('svg');
  }
}
*/
[class^="fl-"]:before, [class*=" fl-"]:before {
    font-family: "folly";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fl-help:before {
    content: '\e801';
}
/* '' */
.fl-unlock:before {
    content: '\e802';
}
/* '' */
.fl-fire:before {
    content: '\e803';
}
/* '' */
.fl-up:before {
    content: '\e804';
}
/* '' */
.fl-down:before {
    content: '\e805';
}
/* '' */
.fl-cancel:before {
    content: '\e806';
}
/* '' */
.fl-plus:before {
    content: '\e807';
}
/* '' */
.fl-minus:before {
    content: '\e808';
}
/* '' */
.fl-search:before {
    content: '\e809';
}
/* '' */
.fl-sort-up:before {
    content: '\e80a';
}
/* '' */
.fl-sort-down:before {
    content: '\e80b';
}
/* '' */
.fl-to-start-alt:before {
    content: '\e80c';
}
/* '' */
.fl-to-end-alt:before {
    content: '\e80d';
}
/* '' */
.fl-login:before {
    content: '\e80e';
}
/* '' */
.fl-arrows-cw:before {
    content: '\e80f';
}
/* '' */
.fl-info:before {
    content: '\e810';
}
/* '' */
.fl-pencil:before {
    content: '\e811';
}
/* '' */
.fl-move:before {
    content: '\e812';
}
/* '' */
.fl-lamp:before {
    content: '\e813';
}
/* '' */
.fl-emo-unhappy:before {
    content: '\e814';
}
/* '' */
.fl-calendar:before {
    content: '\e815';
}
/* '' */
.fl-database:before {
    content: '\e816';
}
/* '' */
.fl-list-alt:before {
    content: '\e817';
}
/* '' */
.fl-user:before {
    content: '\e818';
}
/* '' */
.fl-users:before {
    content: '\e819';
}
/* '' */
.fl-home:before {
    content: '\e81a';
}
/* '' */
.fl-sort:before {
    content: '\e81b';
}
/* '' */
.fl-edit:before {
    content: '\e81c';
}
/* '' */
.fl-clone:before {
    content: '\e81d';
}
/* '' */
.fl-heartbeat:before {
    content: '\e81e';
}
/* '' */
.fl-to-start:before {
    content: '\e81f';
}
/* '' */
.fl-to-end:before {
    content: '\e820';
}
/* '' */
.fl-key:before {
    content: '\e822';
}
/* '' */
.fl-th:before {
    content: '\e823';
}
/* '' */
.fl-logout:before {
    content: '\e82b';
}
/* '' */
.fl-chart-bar:before {
    content: '\e82c';
}
/* '' */
.fl-trash:before {
    content: '\e83d';
}
/* '' */
.fl-menu:before {
    content: '\f0c9';
}
/* '' */
.fl-list-bullet:before {
    content: '\f0ca';
}
/* '' */
.fl-list-numbered:before {
    content: '\f0cb';
}
/* '' */
.fl-bell-alt:before {
    content: '\f0f3';
}
/* '' */
.fl-bug:before {
    content: '\f188';
}
/* '' */
.fl-eyedropper:before {
    content: '\f1fb';
}
/* '' */
