
.fl-help:before { content: '\e801'; } /* '' */
.fl-unlock:before { content: '\e802'; } /* '' */
.fl-fire:before { content: '\e803'; } /* '' */
.fl-up:before { content: '\e804'; } /* '' */
.fl-down:before { content: '\e805'; } /* '' */
.fl-cancel:before { content: '\e806'; } /* '' */
.fl-plus:before { content: '\e807'; } /* '' */
.fl-minus:before { content: '\e808'; } /* '' */
.fl-search:before { content: '\e809'; } /* '' */
.fl-sort-up:before { content: '\e80a'; } /* '' */
.fl-sort-down:before { content: '\e80b'; } /* '' */
.fl-to-start-alt:before { content: '\e80c'; } /* '' */
.fl-to-end-alt:before { content: '\e80d'; } /* '' */
.fl-login:before { content: '\e80e'; } /* '' */
.fl-arrows-cw:before { content: '\e80f'; } /* '' */
.fl-info:before { content: '\e810'; } /* '' */
.fl-pencil:before { content: '\e811'; } /* '' */
.fl-move:before { content: '\e812'; } /* '' */
.fl-lamp:before { content: '\e813'; } /* '' */
.fl-emo-unhappy:before { content: '\e814'; } /* '' */
.fl-calendar:before { content: '\e815'; } /* '' */
.fl-database:before { content: '\e816'; } /* '' */
.fl-list-alt:before { content: '\e817'; } /* '' */
.fl-user:before { content: '\e818'; } /* '' */
.fl-users:before { content: '\e819'; } /* '' */
.fl-home:before { content: '\e81a'; } /* '' */
.fl-sort:before { content: '\e81b'; } /* '' */
.fl-edit:before { content: '\e81c'; } /* '' */
.fl-clone:before { content: '\e81d'; } /* '' */
.fl-heartbeat:before { content: '\e81e'; } /* '' */
.fl-to-start:before { content: '\e81f'; } /* '' */
.fl-to-end:before { content: '\e820'; } /* '' */
.fl-key:before { content: '\e822'; } /* '' */
.fl-th:before { content: '\e823'; } /* '' */
.fl-logout:before { content: '\e82b'; } /* '' */
.fl-chart-bar:before { content: '\e82c'; } /* '' */
.fl-trash:before { content: '\e83d'; } /* '' */
.fl-menu:before { content: '\f0c9'; } /* '' */
.fl-list-bullet:before { content: '\f0ca'; } /* '' */
.fl-list-numbered:before { content: '\f0cb'; } /* '' */
.fl-bell-alt:before { content: '\f0f3'; } /* '' */
.fl-bug:before { content: '\f188'; } /* '' */
.fl-eyedropper:before { content: '\f1fb'; } /* '' */
