<div class="row mt-1">
    <div class="col col-10-md">
        <button class="button button-action primary" title="First" :disabled="isFirstPage" @@click="onFirstPageClick">
            <icon name="ChevronDoubleLeft" />
        </button>
        <button class="button button-action primary" title="Previous" :disabled="isFirstPage" @@click="onPreviousPageClick">
            <icon name="ChevronLeft" />
        </button>
        <button class="button button-action primary" title="Next" :disabled="isLastPage" @@click="onNextPageClick">
            <icon name="ChevronRight" />
        </button>
        <button class="button button-action primary" title="Last" :disabled="isLastPage" @@click="onLastPageClick">
            <icon name="ChevronDoubleRight" />
        </button>
    </div>
    <div class="col col-2-md">
        <select name="tablePerPage" @@input="onPerPageInput">
            <option disabled>Per Page</option>
            <option value="10" :selected="is10PerPage">10</option>
            <option value="20" :selected="is20PerPage">20</option>
            <option value="50" :selected="is50PerPage">50</option>
            <option value="100" :selected="is100PerPage">100</option>
        </select>
    </div>
</div>
