@using System.Globalization;
@using Folly.Controllers;
@using Folly.Resources;

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title id="pageTitle">@(ViewData[BaseController.TitleProperty] ?? Core.Dashboard)</title>
		<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
		<link rel="icon" href="~/favicon.ico">
		<script src="~/js/htmx.min.js" defer></script>
	</head>

	<body class="menu-toggled no-autofocus" data-base-url="@Url.Content("~")" data-lang="@(CultureInfo.CurrentCulture?.TwoLetterISOLanguageName ?? "en")" hx-boost="true" hx-target="#contentWrapper" hx-history="false">
		<div id="fullPageBody">
			<partial name="_NavBar" />
			<div id="contentWrapper">
				@RenderBody()
			</div>
		</div>
	</body>
</html>
