@using Folly.Controllers;
@{
    ViewData[BaseController.TitleProperty] = Folly.Resources.Core.Dashboard;
}

<div id="bodyContent" class="dashboard">
    @if (!((string)ViewData[BaseController.MessageProperty]).IsEmpty())
    {
        <span class="hidden" data-toggle="@DataToggle.Dialog.ToHyphenCase()" data-message="@ViewData[BaseController.MessageProperty]" />
    }
</div>
