@import "root.scss";

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    &.error-page {
        height: auto;
    }
}

#sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow: auto;
    width: 5.5rem;
    background: #f7f7f7;

    ul {
        margin-left: 0.4rem;
        list-style: none;
        padding: 0;

        li {
            margin-top: 0.8rem;

            a {
                display: block;
                text-decoration: none;
                color: var(--color-primary);
                padding-left: 0.6rem;
                border-color: transparent;
                font-size: 1.8rem;

                span {
                    display: none;
                    padding-left: 0.5rem;
                }

                &:hover, &:active, &:focus {
                    color: var(--font-color);
                }
            }
        }

        .divider {
            display: block;
            position: relative;
            border-top: 0.1rem solid var(--color-darkGrey);
            height: 0.05rem;
            margin: 0.8rem 1rem;
        }
    }
}

#main {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc(100% - 6.5rem);
    overflow: auto;
    background-color: white;
}

.sidebar-toggled {
    #sidebar {
        width: 24rem;

        li a span {
            display: inline;
        }
    }

    #main {
        width: calc(100% - 25rem);
    }
}

#content {
    height: 100%;
}
