.alert {
    & span {
        margin: 0;
    }

    .button {
        border: none;
        color: inherit;
        background: inherit;
        padding: 0;
        font-weight: bold;
        font-size: 2rem;
        vertical-align: middle;
    }
}
