.luxbar-menu {
    font-size: 1.8rem;

    .luxbar-brand {
        user-select: none;
        font-size: 2rem;
    }

    & a span:not(.icon) {
        vertical-align: top;
    }

    .icon {
        display: inline;

        & svg {
            margin: 0 0.5rem 0 0;
        }
    }

    a:hover {
        opacity: inherit;
    }
}
