:root {
    /* chota properties */
    --bg-color: #fcfcfc;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #3e63ad;
    --color-light-grey: #d2d6dd;
    --color-dark-grey: #ad3e63;
    --color-error: #ba2828;
    --color-success: #3e9a80;
    --grid-max-width: 120rem;
    --grid-gutter: 1rem;
    --font-size: 1.6rem;
    --font-color: #333;
    --font-family-sans: -apple-system, blinkmacsystemfont, "Segoe UI", "Noto Sans", helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;

    /* luxbar properties */
    --luxbar-color-bg: var(--color-primary);
    --luxbar-color-hl: #2d477d;
    --luxbar-color-fg: #fff;
    --luxbar-height: 5rem;
    --luxbar-padding: 1.125rem 1.5rem 1.125rem 1.5rem;
    --luxbar-transition: .6s ease;
    --luxbar-hamburger-line-height: .125rem;
    --luxbar-hamburger-width: 1.625rem;
    --luxbar-shadow: 0 .063rem .188rem rgba(#000, .12), 0 .063rem .125rem rgba(#000, .24);
    --luxbar-expand-arrow-height: .313rem
}
