.p-2 {
    padding: 2rem;
}

.p-5 {
    padding: 5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.cursor-pointer {
    cursor: pointer;
}

.button + nilla-confirm {
    margin-left: 1rem;
}

details {
    & div {
        padding-left: 1.3rem;
    }
}

.is-bottom-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.h-scroll {
    overflow-x: auto;
}
