{
    "extends": [
        "stylelint-config-standard"
    ],
    "ignorePath": [
        "wwwroot/**",
        "Assets/external/**"
    ],
    "rules": {
        "custom-property-pattern": null
    }
}
