@using Folly.Resources
@using Folly.Models
@model Alert

<nilla-alert>
    <div class="card bg-@Model.AlertType.ToString().ToLower() mb-2 text-white alert" role="alert">
        <div class="row">
            <span class="col-11">@Html.Raw(Model.Content)</span>
            <span class="col-1 text-right">
                @if(Model.CanDismiss) {
                    <button class="button" data-dismiss>
                        <icon name="Close" label="@Core.Close" />
                    </button>
                }
            </span>
        </div>
    </div>
</nilla-alert>
