@using Folly.Resources

<dialog id="alert-dialog" hx-disable>
    <p id="alert-dialog-content" class="p-2"></p>
    <form method="dialog" class="ml-2">
        <button class="button success" value="ok" id="alert-dialog-ok" autofocus>@Core.Okay</button>
    </form>
</dialog>
