@using Folly.Resources
@model int

<template x-if="isLoading || hasError">
    <tr>
        <td colspan="@Model">
            <h1 class="text-center" x-show="isLoading">
                <span class="spinner"></span>
            </h1>
            <div x-show="hasError">
                <h4 class="text-center" x-show="hasError">@Core.AlpineTableRequestFailed</h4>
                <p class="is-center"><button @@click="onRetryClick" class="button primary" title="@Core.Retry">@Core.Retry</button></p>
            </div>
        </td>
    </tr>
</template>
