<div class="row">
    <div class="col col-10-md">
        <input type="text" name="tableSearchQuery" placeholder="Search" class="col-6 col-4-md table-search-query">
    </div>
    <div class="col col-2-md is-right is-vertical-align">
        <div>
            <span class="table-start-row-number"></span><span> to </span><span class="table-end-row-number"></span><span> of </span><span class="table-filtered-row-total"></span>
        </div>
    </div>
</div>
