@using Folly.Resources
@model int

<tr class="table-status">
    <td colspan="@Model">
        <h1 class="text-center table-is-loading">
            <span class="spinner"></span>
        </h1>
        <div class="table-has-error is-hidden">
            <h4 class="text-center">@Core.TableRequestFailed</h4>
            <p class="is-center"><button class="button primary table-retry-button" title="@Core.Retry">@Core.Retry</button></p>
        </div>
    </td>
</tr>
