@using Folly.Constants
@using Folly.Controllers;
@using Folly.Resources;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error - Folly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="error-page">
    <div class="container">
        <div class="p-2 m-2">
            <h1><icon name="Storm" class="text-error" /> Error</h1>
            <p>@(ViewData[ViewProperties.Message] ?? @Core.ErrorGeneric)</p>
        </div>
    </div>
</body>
</html>
