@import "root.scss";

$background-overlay-color: rgba(0,0,0,.5);

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    &.error-page {
        height: auto;
    }
}

#sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow: auto;
    width: 5rem;
    background: #f7f7f7;

    ul {
        margin-left: 0.4rem;
        list-style: none;
        padding: 0;

        li {
            margin-top: 1rem;
            font-size: 2rem;

            i {
                font-size: 2.5rem;
            }

            a {
                display: block;
                text-decoration: none;
                color: var(--color-primary);
                padding-left: 1rem;
                border-color: transparent;
                font-weight: 500;

                span {
                    display: none;
                    padding-left: 0.5rem;
                }

                &:hover, &:active, &:focus {
                    color: var(--font-color);
                }
            }
        }

        .divider {
            display: block;
            position: relative;
            border-top: 0.1rem solid var(--color-lightGrey);
            height: 0.05rem;
            margin: 0.8rem 1rem;
        }
    }
}

#main {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc(100% - 6rem);
    overflow: auto;
    padding: 2rem;
}

.sidebar-toggled {
    #sidebar {
        width: 24rem;

        li a span {
            display: inline;
        }
    }

    #main {
        width: calc(100% - 25rem);
    }
}

#content {
    height: 100%;
}

#spinner {
    display: none;

    &.htmx-request {
        background: $background-overlay-color;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 16777270;
    }

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid var(--color-primary);
        border-color: var(--color-primary) transparent var(--color-primary) transparent;
        animation: spinner 1.2s linear infinite;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

dialog {
    border: none;
    box-shadow: #00000029 2px 2px 5px 0px;
    border-radius: 10px;
    padding: 20px;

    &::backdrop {
        background: $background-overlay-color;
    }
}
