@import "root.scss";

$background-overlay-color: rgba(0,0,0,.5);

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    &.error-page {
        height: auto;
    }
}

.mi-pad {
    margin-right: .5rem;
}

#main {
    padding: calc(var(--luxbar-height) + 1rem) var(--luxbar-height) var(--luxbar-height) var(--luxbar-height);
}

#content {
    height: 100%;
}

#spinner {
    display: none;

    &.htmx-request {
        background: $background-overlay-color;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 16777270;
    }

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid var(--color-primary);
        border-color: var(--color-primary) transparent var(--color-primary) transparent;
        animation: spinner 1.2s linear infinite;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

dialog {
    border: none;
    box-shadow: #00000029 2px 2px 5px 0px;
    border-radius: 10px;
    padding: 20px;

    &::backdrop {
        background: $background-overlay-color;
    }
}
