:root {
    --bg-color: #fcfcfc;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #3e63ad;
    --color-lightGrey: #d2d6dd;
    --color-grey: #3e9a80;
    --color-darkGrey: #ad3e63;
    --color-error: #ba2828;
    --color-success: #3e9a80;
    --grid-maxWidth: 150rem;
    --grid-gutter: 1rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
